:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: -23px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

    .showcase:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .showcase .showcase-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .showcase h1 {
        font-size: 4rem;
    }

    .showcase p {
        font-size: 1.3rem;
    }

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
    border-radius: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

    .btn:hover {
        opacity: 0.7;
        background: linear-gradient(60deg, #11417c, #357586);
    }

/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 20px;
    border-radius: 10px;
}

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50px;
        height: 50px;
        padding: 1rem;
        background: var(--overlay-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }

        /* Hamburger Line */
        .menu-wrap .hamburger > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
        }

            /* Hamburger Lines - Top & Bottom */
            .menu-wrap .hamburger > div::before,
            .menu-wrap .hamburger > div::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: -10px;
                width: 100%;
                height: 2px;
                background: inherit;
            }

            /* Moves Line Down */
            .menu-wrap .hamburger > div::after {
                top: 10px;
            }

    /* Toggler Animation */
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

        /* Turns Lines Into X */
        .menu-wrap .toggler:checked + .hamburger > div:before,
        .menu-wrap .toggler:checked + .hamburger > div:after {
            top: 0;
            transform: rotate(90deg);
        }

    /* Rotate On Hover When Checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    /* Show Menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
        border-radius: 10px;
    }

        .menu-wrap .toggler:checked ~ .menu > div {
            transform: scale(1);
            transition-duration: var(--menu-speed);
        }

            .menu-wrap .toggler:checked ~ .menu > div > div {
                opacity: 1;
                transition: opacity 0.4s ease 0.4s;
            }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        border-radius: 10px;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .menu-wrap .menu > div {
            background: var(--overlay-color);
            border-radius: 50%;
            width: 200vw;
            height: 200vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;
        }

            .menu-wrap .menu > div > div {
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.4s ease;
            }

                .menu-wrap .menu > div > div > ul > li {
                    list-style: none;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 1rem;
                }

                    .menu-wrap .menu > div > div > ul > li > a {
                        color: inherit;
                        text-decoration: none;
                        transition: color 0.4s ease;
                    }

.box {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    background: var(--overlay-color);
    border-radius: 20px;
}

img {
    border-radius: 50%;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    text-decoration: underline;
    color: #2bcfa1;
    transition: color 0.4s ease;
}
.wrap {
    background: #353b48;
    position: fixed;
    padding: 10px;
    height: 70px;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.form_field {
    position: relative;
    width: 100%;
}

.post_field {
    position: absolute;
    top: 0;
    left: 0;
    margin: 70px 25px 95px;
    max-width: 768px;
}

.form_field textarea {
    padding: 7px 60px 7px 15px;
    overflow: hidden;
    background: none;
    font-size: 30px;
    transition: .3s;
    height: 50px;
    resize: none;
    float: left;
    width: 100%;
    color: #ccc;
    border-radius: 25px;
}

    .form_field textarea:focus {
        padding: 7px 60px 7px 7px;
        transition: .3s;
    }

.form_field button img {
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
}

@media screen and (min-width:768px) {
    .wrap {
        padding: 10px 19%;
    }
}