{% extends "login.html" %}

{% block content %}
<h1 class="rovno">Редактор</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        <input type="text" name="username" placeholder="Ваше имя" />
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <input type="text" name="about_me" placeholder="Информация о вас" /><br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div class="btn__submit">
        <input style="width: 118px;" class="" type="submit" name="submit" value="Отправить">
    </div>
    <p class="reg-link--2"> Потерялися?
        <a class="reg-link animate__animated animate__flash animate__slow" href="{{ url_for('user', username=current_user.username) }}"> вернуться</a>
    </p>
</form>
{% endblock %}