{% extends "login.html" %}

{% block content %}
<h1 class="rovno">Редактор</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        <input type="text" name="username" placeholder="Ваше имя" />
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <input type="text" name="about_me" placeholder="Информация о вас" /><br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}