<html>
<head>
    <title>Message</title>
</head>
<body style="background: linear-gradient(60deg, rgba(33, 26, 26), rgba(50, 36, 36)">
    {% extends 'messenger.html' %}
    {% block content %}
    <link href="{{ url_for("static", filename="css/style__message.css") }}" rel="stylesheet">
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a href="{{ url_for('index2') }}">
                                Microblog <br>
                            </a>
                            <span style="color: red;">(в разработке)</span>
                        </li>
                        <li><a style="color:#4AF6CD" href="{{ url_for('messenge') }}">Message</a></li>
                        <li><a href="{{ url_for('index') }}">Главная</a></li>
                        <li><a href="{{ url_for('user', username=current_user.username) }}">Профиль</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if form %}
    <div class="post_field">
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}

    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}

    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
    </div>
    <form action="" method="post" class="wrap">
        {{ form.hidden_tag() }}
        <div class="form_field">
            <textarea name="post" placeholder="Message"></textarea>
            <button name="submit">
                <img src="{{ url_for("static", filename="images/chevron_right.png") }}">
            </button>
        </div>
        {% for error in form.post.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
    </form>
    {% endif %}
    
    {% endblock %}
</body>
</html>