<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body style="background: linear-gradient(60deg, rgba(33, 26, 26), rgba(50, 36, 36)">
    <link href="{{ url_for("static", filename="css/styles__user.css") }}" rel="stylesheet">
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="{{ url_for('index2') }}">Microblog</a></li>
                        <li><a href="{{ url_for('index') }}">Главная</a></li>
                        <li><a href="{{ url_for('user', username=current_user.username) }}">Профиль</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="header">
        <div lass="header__user">
            {% block content %}
            <div class="header__user-block">
                <div class="header__user-container">
                    <div class="header__user-profil">
                        <div class="header__user-profil__avatar animate__animated animate__rollIn">
                            <img src="{{ user.avatar(128) }}">
                        </div>
                        <div class="header__user-profil__username animate__animated animate__flipInX">
                            <h1>{{ user.username }}</h1>
                        </div>
                        <span>|</span>
                        <div class="header__user-info__time animate__animated animate__bounceInDown">
                            {% if user.last_seen %}<p> Был(а) в сети: <br />{{ user.last_seen }}</p>{% endif %}
                        </div>
                        <span>|</span>
                        <div class="header__user-info__followers animate__animated animate__flipInX">
                            <p> {{ user.followers.count() }} Подписчики <span>|</span>{{ user.followed.count() }} Подписки</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </header>
    <div class="header__user-info">
        <div class="header__user-info__informations">
            {% if user.about_me %}<p> {{ user.about_me }}</p>{% endif %}
            <span></span>
            <div class="header__user-info__editor animate__animated animate__lightSpeedInRight">
                <p><a class="redactor" href="{{ url_for('edit_profile') }}"> Редактировать профиль</a></p>
                {% if not current_user.is_following(user) %}
            </div>
            <span></span>
        </div>
        <div class="header__user-info__fllow animate__animated animate__lightSpeedInRight">
            <p><a class="folow" href="{{ url_for('follow', username=user.username) }}"> Подписаться</a></p>
            {% else %}
            <p><a class="anfolow" href="{{ url_for('unfollow', username=user.username) }}"> Отписаться</a></p>
            {% endif %}
        </div>
        <br />
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        {% if prev_url %}
    <a href="{{ prev_url }}">Новое сообщение:</a>
        {% endif %}
        {% if next_url %}
    <a href="{{ next_url }}">Старое сообщение:</a>
        {% endif %}
        {% for post in posts %}
        {% endfor %}
        {% endblock %}
    </div><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>